:root {
  --primary: #20aa05;
  --primary-text: #ffffff;
  --primary-texta: #ffffff;
  --secondary: #000000;
  --secondaryborders: #e42727;
  --secondary-text: #ffffff;
  --secondarybutton: #313131;
  --accent: #505050;
  --accent-text: #000000;
}
